<a href="https://colab.research.google.com/github/AyuwatMalaiphong032/epalm/blob/main/Apyori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

//..นำเข้าไลบรารีและชุดข้อมูล
ขั้นตอนแรกเช่นเคยคือการนำเข้าไลบรารีที่จำเป็น
ในสคริปต์ด้านล่าง
นำเข้า pandas, numpy และ apriori libraries..//

In [ ]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [ ]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
df = pd.read_csv('/content/GroceryStoreDataSet (1).csv', names = ['products'], header = None)

In [ ]:
df.head()

                        products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [ ]:
df.shape

(20, 1)

 //..# เนื่องจากข้อมูลของเรารวมกัน เราจะแยกตาม "," ..//

In [ ]:
data = list(df["products"].apply(lambda x:x.split(",") ))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [ ]:
type(data)

list

In [ ]:
df.sum()

products    MILK,BREAD,BISCUITBREAD,MILK,BISCUIT,CORNFLAKE...
dtype: object

ในการวิเคราะห์การเชื่อมโยง dataframe ต้องเป็น 1 และ 0 หรือประเภทโครงสร้างข้อมูลบูลีนเป็น True / False

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

// # กระบวนการเข้ารหัสแบบ One Hot เสร็จสิ้นแล้ว /

In [ ]:
temp = TransactionEncoder()
temp_df = temp.fit(data).transform(data)
new_df = pd.DataFrame(temp_df,columns=temp.columns_)
new_df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

// ตอนนี้ Dataframe เหมาะสำหรับการวิเคราะห์ความสัมพันธ์ ขั้นตอนต่อไปคือการคำนวณและตีความค่าการสนับสนุนและค่าความเชื่อมั่น //

// # เราตั้งค่าการสนับสนุนของเราเป็น 20% //

In [ ]:
support_values = apriori(new_df, min_support=0.20, use_colnames=True, )
support_values

    support              itemsets
0      0.35             (BISCUIT)
1      0.20           (BOURNVITA)
2      0.65               (BREAD)
3      0.40              (COFFEE)
4      0.30          (CORNFLAKES)
5      0.25               (MAGGI)
6      0.25                (MILK)
7      0.30               (SUGER)
8      0.35                 (TEA)
9      0.20      (BISCUIT, BREAD)
10     0.20         (MILK, BREAD)
11     0.20        (BREAD, SUGER)
12     0.20          (TEA, BREAD)
13     0.20  (COFFEE, CORNFLAKES)
14     0.20       (COFFEE, SUGER)
15     0.20          (MAGGI, TEA)

// # เราจัดอันดับข้อมูลของเราตามค่าที่ลดลงสำหรับผู้สนับสนุน //

In [ ]:
support_values.sort_values(by = "support", ascending = False)

    support              itemsets
2      0.65               (BREAD)
3      0.40              (COFFEE)
0      0.35             (BISCUIT)
8      0.35                 (TEA)
4      0.30          (CORNFLAKES)
7      0.30               (SUGER)
5      0.25               (MAGGI)
6      0.25                (MILK)
1      0.20           (BOURNVITA)
9      0.20      (BISCUIT, BREAD)
10     0.20         (MILK, BREAD)
11     0.20        (BREAD, SUGER)
12     0.20          (TEA, BREAD)
13     0.20  (COFFEE, CORNFLAKES)
14     0.20       (COFFEE, SUGER)
15     0.20          (MAGGI, TEA)

// เราเข้าถึงค่า "ความเชื่อมั่นและการเพิ่ม" โดยใช้ฟังก์ชันassociation_rules //

In [ ]:
rules = association_rules(support_values, metric= "confidence", min_threshold = 0.5)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
8,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000
1,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000
5,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
7,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
2,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000
9,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000
0,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667
3,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667
4,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000
6,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000

//
มูลค่าการสนับสนุน -> แสดงให้เห็นว่าอัตราการเห็น MAGGI และ TEA ร่วมกันในการซื้อทั้งหมดคือ 0.2

ค่าความเชื่อมั่น -> แสดงให้เห็นว่า 80% ของลูกค้าที่ซื้อ MAGGI ซื้อ TEA ด้วย

มูลค่าที่เพิ่มขึ้น -> แสดงว่ายอดขายของ (TEA) เพิ่มขึ้น 2.28 สำหรับการซื้อกับ MAGGI
//